[submodule "repos/bulletin-deploy"]
	path = repos/bulletin-deploy
	url = git@github.com:paritytech/bulletin-deploy.git
[submodule "repos/ja3x"]
	path = repos/ja3x
	url = git@github.com:paritytech/ja3x.git
[submodule "repos/linktr33"]
	path = repos/linktr33
	url = git@github.com:paritytech/linktr33.git
[submodule "repos/mark3t"]
	path = repos/mark3t
	url = git@github.com:paritytech/mark3t.git
[submodule "repos/polkadot-web"]
	path = repos/polkadot-web
	url = git@github.com:paritytech/polkadot-web.git
[submodule "repos/product-engineering"]
	path = repos/product-engineering
	url = git@github.com:paritytech/product-engineering.git
[submodule "repos/r3lay"]
	path = repos/r3lay
	url = git@github.com:paritytech/r3lay.git
[submodule "repos/s3al"]
	path = repos/s3al
	url = git@github.com:paritytech/s3al.git
[submodule "repos/sh33ts"]
	path = repos/sh33ts
	url = git@github.com:paritytech/sh33ts.git
[submodule "repos/sourc3s"]
	path = repos/sourc3s
	url = git@github.com:paritytech/sourc3s.git
[submodule "repos/t3ams"]
	path = repos/t3ams
	url = git@github.com:paritytech/t3ams.git
[submodule "repos/t3rminal"]
	path = repos/t3rminal
	url = git@github.com:paritytech/t3rminal.git
[submodule "repos/triangle-js-sdks"]
	path = repos/triangle-js-sdks
	url = git@github.com:paritytech/triangle-js-sdks.git
[submodule "repos/w3s-conference-app"]
	path = repos/w3s-conference-app
	url = git@github.com:paritytech/w3s-conference-app.git
[submodule "repos/truapi-explorer"]
	path = repos/truapi-explorer
	url = git@github.com:paritytech/truapi-explorer.git
[submodule "repos/host-sdk"]
	path = repos/host-sdk
	url = git@github.com:paritytech/host-sdk.git
